<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tibs</title>
    <link rel='preconnect' href="https://cdn.jsdelivr.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha256-zgORubRsz5iTQajy0X9EdrJBq1vNm70B2ZW4YKdRy3s=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/brands.min.css" integrity="sha256-TXCTfrlEOGerSO77rgj5Fvyzf9g0O4ne2lXoR8uS4II=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/solid.min.css" integrity="sha256-PWjOYKvQnR+QNLq3ts8OC0/uUzdQ2NkfEulijXY8Xfo=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    {{ comp.sidebar() | safe}}

    <section>
        <main>{{ content | safe }}</main>

        <footer>
            <p>Copyright &copy; 2023 tibs. All rights reserved</p>
            <p>Code licensed under the MIT license</p>
            <a href="https://github.com/TibiNonEst/tibinonest.me">Source code available on GitHub</a>
            <p>Made with <i class="fa-solid fa-heart"></i>, <a href="https://lume.land">Lume</a>, and <a href="https://catppuccin.com">Catppuccin</a></p>
        </footer>
    </section>

    <script src="/assets/theme.js"></script>
</body>
</html>
