<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tibs</title>

    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdn.tibinonest.me">

    <link rel="preload" href="/assets/styles.css" as="style">
    <link rel="preload" href="/assets/theme.js" as="script">

    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/theme.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css">

    <link rel="icon" type="image/png" href="https://cdn.tibinonest.me/rounded_tibs.png">
</head>

<body>
    {{ comp.sidebar({ url: url }) | safe}}

    <section>
        <main>{{ content | safe }}</main>

        <footer>
            <p>Copyright &copy; 2023 tibs. All rights reserved</p>
            <p>Code licensed under the MIT license</p>
            <a href="https://github.com/TibiNonEst/tibinonest.me">Source code available on GitHub</a>
            <p>Made with <i class="fa-solid fa-heart"></i>, <a href="https://lume.land">Lume</a>, and
                <a href="https://catppuccin.com">Catppuccin</a>
            </p>
        </footer>
    </section>
</body>
</html>
