<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="not-found">
    <main>
        <h1>404</h1>
        <h2>This page could not be found :P</h2>
        <a href="/">Oy, return me</a>
    </main>

    <script src="/assets/theme.js"></script>
</body>
</html>
